* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* overflow: hidden; */
}

/* ------------------------------------------------------ */
/* Common */

.general-container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

/* Common */
/* ------------------------------------------------------ */
/* header */

.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 14.375rem;
    height: calc(100% - 5.625rem);
    padding: 1.25rem;
    color: #717171;
    background-color: #000000;
}

.logo-big {
    width: 8.25rem;
    padding-bottom: 1.25rem;
}

.logo-small {
    width: 1.875rem;
    display: none;
}

.flex {
    display: flex;
    padding-bottom: .9375rem;
}

.flex:hover {
    color: white;
}


.playlist {
    padding-bottom: .9375rem;
    color: white;
}

.fa-solid {
    padding-right: .625rem;
}

.fa-square-plus {
    font-size: 2.5rem;
}

.padding-top-left {
    padding-top: .625rem;
    padding-left: .625rem;
}

.padding-left {
    padding-left: .625rem;
}

ul li {
    padding: 5px 0;
    list-style: none;
}

.style {
    text-decoration: none;
    color: #717171;
}

a:hover {
    color: white;
}

.small-prof {
    width: .9375rem;
}

.hr {
    padding-top: .9375rem;
}


@media screen and (max-width:552px) {
    .nav {
        width: 3.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo-small {
        display: block;
        width: 1.375rem;
        margin-left: -0.0625rem;
        padding-bottom: .9375rem;
    }

    .logo-big {
        display: none;
    }

    .container-playlist {
        display: none;
    }

    .none {
        display: none;
    }

    .container-bottom {}
}

/* header */
/* ------------------------------------------------------ */
/* Main */

.main {
    /*  position: relative; */
    flex-grow: 1;
    width: calc(100% - 14.375rem);
    height: calc(100% - 5.625rem);
    background-color: #141922;
    color: white;
}

.button-zindex {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 5.625rem;
    padding: 1.25rem;
    display: flex;
    justify-content: end;
    color: white;
    position: relative;
    z-index: 4;
}

.button {
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    border-radius: 1.5625rem;
    padding: .625rem 2.25rem;
}

.button:hover {
    scale: 1.1;
    transition: 2s;
}

.button a {
    text-decoration: none;
    color: white;
}

.container-list-main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .9375rem;
}

.padding-right {
    padding-right: 1.25rem;
}

.underline:hover {
    text-decoration: underline;
    text-decoration-color: #adff2f;
}

.container-main {
    padding: 15px;
}

.container-albums {
    width: 100%;
    display: flex;
    text-align: center;
}

.album {
    padding: 25px 10px 10px 0px;
}

img {
    width: 100%;
}

.container-albums div h6 {
    color: #717171;
    padding-top: .3125rem;
}
























@media screen and (max-width:878px) {
    .container-list-main {
        flex-wrap: wrap;
    }

    .container-albums {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% / 4);
        height: 100%;
        overflow: scroll;
    }


}


/* Main */
/* ------------------------------------------------------ */
/* Footer */

.footer {
    background-color: #282828;
    width: 100%;
    height: 5.625rem;
    padding: 1.25rem;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    color: white;
    padding: .625rem;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

/* ROWS----------- */

.left-row {
    width: 20%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.center-row {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-row {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* ROWS------------- */

.container-center-row {
    width: 100%;
}

.small-box-center {
    justify-content: center;
}

.small-box-left,
.small-box-center {
    width: 100%;
    display: flex;
    align-items: center;
}

.img-left-row {
    width: 3.125rem;
    height: 3.125rem;
}

/* ICONS----------- */

.cuoricino,
.folder,
.misto,
.backward,
.play,
.forward,
.ripeti,
.bars,
.desktop,
.volume-low {
    background-color: #282828;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    padding: 0 .1875rem;
}

/* ICONS----------- */

.minutes {
    font-size: .625rem;
    padding: 0 .1875rem;
}

/* VOLUME-BARS---------------- */

.volume-bar {
    width: 50%;
    height: .3125rem;
    background-color: #5a5a5a;
}

.volume-bar2 {
    min-width: 50%;
    height: .3125rem;
    background-color: #5a5a5a;
}

/* VOLUME-BARS---------------- */

@media screen and (max-width:552px) {
    .left-row {
        width: 25%;
    }

    .center-row {
        width: 50%;
    }

    .right-row {
        width: 25%;
    }
}

/* Footer */
/* ------------------------------------------------------ */