*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Common */

.container-main{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
}

/* Common */

/* header */

.nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 14.375rem;
    height: calc(100% - 5.625rem);
    padding: 1.25rem;
    color: #717171; 
    background-color: #000000;
    
    
    
}

.logo-big{
    width: 8.25rem;
    padding-bottom: 1.25rem;
}

.logo-small{
    width: 1.875rem;
    display: none;
}

.flex{
    display: flex;
    padding-bottom: .9375rem;
}

.playlist{
    padding-bottom: .9375rem;
    color: white;
}

.fa-solid{
    padding-right: .625rem;
}

.fa-square-plus{
    font-size: 2.5rem;
}

.padding-top-left{
    padding-top: .625rem;
    padding-left: .625rem;
}

.padding-left{
    padding-left: .625rem;
}

ul li{
    padding: 5px 0;
    list-style: none;
}

.small-prof{
    width: .9375rem;
}

.hr{
    padding-top: .9375rem;
}

/* .background-img{ */
/*     background-color: white; */
/*     height: 35px; */
/*     width: 35px; */
/*     border-radius: 50%; */
/*     opacity: 0.5; */
/* } */
/*  */
/*  */














@media screen and (max-width:552px) {
    .nav{
        width: 3.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-small{
        display: block;
        width: 1.375rem;
        margin-left: -0.0625rem;
        padding-bottom: .9375rem;
    }
    .logo-big{
        display: none;
    }    
    .container-playlist{
        display: none;
    }
    .none{
        display: none;
    }
    .container-bottom{

    }
}


/* header */

/* Main */

.main{
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-color: #141922;
}

.button-zindex{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 5.625rem;
    padding: 1.25rem;
}

/* Main */

/* Footer */

.footer{
    background-color: #282828;
    width: 100%;
    height: 5.625rem;
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Footer */






















